# SI 330 - Homework #1: Data Manipulation

## Background

This homework assignment focuses on the analysis of historical data from the Olympic games.  The description of the data includes the following:
> This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. I scraped this data from www.sports-reference.com in May 2018.

Your main task in this assignment is to explore the data *using the data
manipulation methods we covered in class* as well as those in the assigned readings.  You may need to consult pandas documentation, Stack Overflow, or other online resources.  

** You should also feel free to ask questions on the [class Slack homework channel] (https://si330wn2019.slack.com/messages/CFA5AJPCL/)! **

A total of 50 points is available in this homework assignment, consisting of:
- 40 points for completing the specific homework questions. More comprehensive 
answers will tend to gain more points.
- 5 points for the overall quality of spelling, grammar, punctuation, and style of written responses.  (see https://faculty.washington.edu/heagerty/Courses/b572/public/StrunkWhite.pdf for a detailed specifications).
- 5 points for creating code that conforms to [PEP 8](https://www.python.org/dev/peps/pep-0008/) guidelines.  You should review those guidelines before proceding with the assignment.

## Answer the questions below. 
For each question, you should
1. Write code using Python and pandas that can help you answer the following questions, and
2. Explain your answers in plain English. You should use complete sentences that would be understood by an educated professional who is not necessarily a data scientist (like a product manager).

### <font color="magenta"> Q1 (6 points): Explore and Describe the dataset. 
- How many rows and columns are there in the data frame? Please use the appropriate dataframe property.
- Provide summary statistics (i.e. use the .describe() function) for age, height, and weight. Please present this information in a single dataframe.

In [2]:
import pandas as pd
import numpy as np
from math import *

In [6]:
# read and open athlete_events.csv
olympics = pd.read_csv('data/athlete_events.csv')
# finds dimensions of data file
olympics.shape

There are 15 columns and 271116 rows.

In [120]:
o1 = olympics[['Age', 'Height', 'Weight']].copy()

In [121]:
o1.describe()

                 Age         Height         Weight
count  261642.000000  210945.000000  208241.000000
mean       25.556898     175.338970      70.702393
std         6.393561      10.518462      14.348020
min        10.000000     127.000000      25.000000
25%        21.000000     168.000000      60.000000
50%        24.000000     175.000000      70.000000
75%        28.000000     183.000000      79.000000
max        97.000000     226.000000     214.000000

I used the describe() function to find the summary statistic for age, height and weight.
There are 261642 entries for age. The mean age is 25.5. The min is 10.0 and the max is 97.0. 
There are 210945 entries for height. The mean height is 175.3. The min is 127.0 and the max is 226.0.
There are 208241 entries for weight. The mean weight is 70.7. The min is 25.0 and the max is 214.0.

### <font color="magenta"> Q2 (8 points): How many unique athletes are in the dataset? What proportion of unique athletes are female?
    - Ideally, your code should return a proportion without hardcoding.

In [129]:
number = olympics.Name
number.nunique()

134732

There are 134732 unique athletes in the dataset.

In [122]:
olympics[olympics.Sex=='F']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
32,13,Minna Maarit Aalto,F,30.0,159.0,55.5,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Women's Windsurfer,NaN
33,13,Minna Maarit Aalto,F,34.0,159.0,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,NaN
34,14,Pirjo Hannele Aalto (Mattila-),F,32.0,171.0,65.0,Finland,FIN,1994 Winter,1994,Winter,Lillehammer,Biathlon,Biathlon Women's 7.5 kilometres Sprint,NaN
79,21,Ragnhild Margrethe Aamodt,F,27.0,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold
80,22,Andreea Aanei,F,22.0,170.0,125.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NaN
87,26,Agnes Erika Aanonsen (-Eyde),F,17.0,169.0,65.0,Norway,NOR,1984 Winter,1984,Winter,Sarajevo,Luge,Luge Women's Singles,NaN
91,29,Willemien Aardenburg,F,22.0,NaN,NaN,Netherlands,NED,1988 Summer,1988,Summer,Seoul,Hockey,Hockey Women's Hockey,Bronze
105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
135,49,Moonika Aava,F,24.0,168.0,65.0,Estonia,EST,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Javelin Throw,NaN
136,49,Moonika Aava,F,28.0,168.0,65.0,Estonia,EST,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Javelin Throw,NaN
161,65,Patimat Abakarova,F,21.0,165.0,49.0,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze
163,67,Mariya Vasilyevna Abakumova (-Tarabina),F,22.0,179.0,80.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Javelin Throw,Silver
164,67,Mariya Vasilyevna Abakumova (-Tarabina),F,26.0,179.0,80.0,Russia,RUS,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Javelin Throw,NaN
167,69,Tamara Abalde Daz,F,19.0,185.0,72.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
176,74,Mara Laura Abalo,F,30.0,182.0,73.0,Argentina,ARG,2012 Summer,2012,Summer,London,Rowing,Rowing Women's Coxless Pairs,NaN
193,88,Nunu Dzhansuhivna Abashydze (-Myslaieva),F,25.0,168.0,105.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Athletics,Athletics Women's Shot Put,NaN
195,90,Tamila Rashidovna Abasova,F,21.0,163.0,60.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Cycling,Cycling Women's Sprint,Silver
196,90,Tamila Rashidovna Abasova,F,21.0,163.0,60.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Cycling,Cycling Women's 500 metres Time Trial,NaN
202,95,Georgia Abatzidou,F,35.0,155.0,43.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Marathon,NaN
252,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
256,128,Soulmaz Abbasi Azad,F,28.0,173.0,60.0,Iran,IRI,2012 Summer,2012,Summer,London,Rowing,Rowing Women's Single Sculls,NaN
259,131,Tran Abbasova,F,33.0,159.0,53.0,Azerbaijan,AZE,2000 Summer,2000,Summer,Sydney,Weightlifting,Weightlifting Women's Featherweight,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271008,135520,Julia Zwehl,F,24.0,167.0,60.0,Germany,GER,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Women's Hockey,NaN
271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271027,135531,Sabine Beate Zwiener (-Jauchstetter),F,24.0,172.0,52.0,Germany,GER,1992 Summer,1992,Summer,Barcelona,Athletics,Athletics Women's 800 metres,NaN
271029,135533,"Petronella Veronica Maria ""Nel"" Zwier",F,23.0,174.0,70.0,Netherlands,NED,1960 Summer,1960,Summer,Roma,Athletics,Athletics Women's High Jump,NaN
271032,135535,Claudia Antoinette Zwiers,F,22.0,181.0,78.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Judo,Judo Women's Middleweight,Bronze
271033,135535,Claudia Antoinette Zwiers,F,30.0,181.0,78.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Judo,Judo Women's Half-Heavyweight,NaN
271050,135546,Sandra Kornelia Zwolle,F,26.0,174.0,65.0,Netherlands,NED,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Women's 500 metres,NaN
271051,135546,Sandra Kornelia Zwolle,F,26.0,174.0,65.0,Netherlands,NED,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
271052,135547,Viktoriya Viktorovna Zyabkina,F,19.0,174.0,62.0,Kazakhstan,KAZ,2012 Summer,2012,Summer,London,Athletics,Athletics Women's 200 metres,NaN
271053,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 100 metres,NaN
271054,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
271055,135547,Viktoriya Viktorovna Zyabkina,F,23.0,174.0,62.0,Kazakhstan,KAZ,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
271057,135549,Nataliya Vasilyevna Zyatikova,F,27.0,162.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 10 kilometres,NaN
271058,135549,Nataliya Vasilyevna Zyatikova,F,27.0,162.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 15 kilometres,NaN
271059,135549,Nataliya Vasilyevna Zyatikova,F,27.0,162.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 30 kilometres,NaN
271060,135549,Nataliya Vasilyevna Zyatikova,F,27.0,162.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 5/5 kilometres Pu...,NaN
271061,135549,Nataliya Vasilyevna Zyatikova,F,27.0,162.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 4 x 5 kilometres ...,NaN
271062,135550,Vera Vasilyevna Zyatikova,F,27.0,161.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 10 kilometres,NaN
271063,135550,Vera Vasilyevna Zyatikova,F,27.0,161.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 15 kilometres,NaN
271064,135550,Vera Vasilyevna Zyatikova,F,27.0,161.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 5/5 kilometres Pu...,NaN
271065,135550,Vera Vasilyevna Zyatikova,F,27.0,161.0,53.0,Belarus,BLR,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Women's 4 x 5 kilometres ...,NaN
271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold
271077,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Javelin Throw,NaN
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271079,135553,Galina Ivanovna Zybina (-Fyodorova),F,29.0,168.0,80.0,Soviet Union,URS,1960 Summer,1960,Summer,Roma,Athletics,Athletics Women's Shot Put,NaN
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [130]:
sex = olympics.groupby('Sex').size()
sex

Sex
F     74522
M    196594
dtype: int64

(Use this space to explain your answers)

In [131]:
sex.loc['F']/(sex.loc['F']+sex.loc['M'])

0.2748712728131132

Around 0.275 of the unique athletes are females.

### <font color="magenta"> Q3 (10 points): Looking at the time period from 1950 to today, which athelete competed in the most number of events? 
In which unique events did the athelete participate, and for what range of years? Which country did the athlete represent?

In [132]:
# filters athletes who participated from 1950 to today
athlete = olympics[olympics.Year>=1950].copy()
athlete.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [11]:
# finds athlete id who competed in the most events
athlete.groupby('ID').size().idxmax()

89187

In [137]:
# finds athlete info with id 89187
most = athlete[athlete.ID==89187].copy()
most

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
177408,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Individual All-Around,NaN
177409,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,NaN
177410,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Floor Exercise,NaN
177411,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Bronze
177412,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Parallel Bars,NaN
177413,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
177414,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Rings,NaN
177415,89187,Takashi Ono,M,20.0,160.0,58.0,Japan,JPN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Pommelled Horse,NaN
177416,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Individual All-Around,Silver
177417,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Team All-Around,Silver
177418,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Floor Exercise,NaN
177419,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Horse Vault,NaN
177420,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Parallel Bars,Bronze
177421,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Horizontal Bar,Gold
177422,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Rings,NaN
177423,89187,Takashi Ono,M,25.0,160.0,58.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Pommelled Horse,Silver
177424,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Individual All-Around,Silver
177425,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Team All-Around,Gold
177426,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Floor Exercise,NaN
177427,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Horse Vault,Gold
177428,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Parallel Bars,Bronze
177429,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Horizontal Bar,Gold
177430,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Rings,Bronze
177431,89187,Takashi Ono,M,29.0,160.0,58.0,Japan,JPN,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Men's Pommelled Horse,NaN
177432,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Individual All-Around,NaN
177433,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Team All-Around,Gold
177434,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Floor Exercise,NaN
177435,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Horse Vault,NaN
177436,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Parallel Bars,NaN
177437,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
177438,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Rings,NaN
177439,89187,Takashi Ono,M,33.0,160.0,58.0,Japan,JPN,1964 Summer,1964,Summer,Tokyo,Gymnastics,Gymnastics Men's Pommelled Horse,NaN

In [138]:
# used athlete id to find name and country of person who participated in the most events
most[['Name', 'Team']].head(1)

               Name   Team
177408  Takashi Ono  Japan

From 1950 to today, Takashi Ono from Japan participated in the most Olympic events

In [139]:
# Finds the events Takashi Ono participated in
most['Event']

177408    Gymnastics Men's Individual All-Around
177409          Gymnastics Men's Team All-Around
177410           Gymnastics Men's Floor Exercise
177411              Gymnastics Men's Horse Vault
177412            Gymnastics Men's Parallel Bars
177413           Gymnastics Men's Horizontal Bar
177414                    Gymnastics Men's Rings
177415          Gymnastics Men's Pommelled Horse
177416    Gymnastics Men's Individual All-Around
177417          Gymnastics Men's Team All-Around
177418           Gymnastics Men's Floor Exercise
177419              Gymnastics Men's Horse Vault
177420            Gymnastics Men's Parallel Bars
177421           Gymnastics Men's Horizontal Bar
177422                    Gymnastics Men's Rings
177423          Gymnastics Men's Pommelled Horse
177424    Gymnastics Men's Individual All-Around
177425          Gymnastics Men's Team All-Around
177426           Gymnastics Men's Floor Exercise
177427              Gymnastics Men's Horse Vault
177428            Gymnastics Men's Parallel Bars
177429           Gymnastics Men's Horizontal Bar
177430                    Gymnastics Men's Rings
177431          Gymnastics Men's Pommelled Horse
177432    Gymnastics Men's Individual All-Around
177433          Gymnastics Men's Team All-Around
177434           Gymnastics Men's Floor Exercise
177435              Gymnastics Men's Horse Vault
177436            Gymnastics Men's Parallel Bars
177437           Gymnastics Men's Horizontal Bar
177438                    Gymnastics Men's Rings
177439          Gymnastics Men's Pommelled Horse
Name: Event, dtype: object

See above for list of events Takashi Ono participated in

In [27]:
# Finds the last year Takashi Ono participated in the olympics
most.loc[most['Year'].idxmax()]

ID                                         89187
Name                                 Takashi Ono
Sex                                            M
Age                                           33
Height                                       160
Weight                                        58
Team                                       Japan
NOC                                          JPN
Games                                1964 Summer
Year                                        1964
Season                                    Summer
City                                       Tokyo
Sport                                 Gymnastics
Event     Gymnastics Men's Individual All-Around
Medal                                        NaN
Name: 177432, dtype: object

The last year Takashi Ono participated in the Olympics was 1964.

In [140]:
# Finds the first year Takashi Ono participated in the olympics
most.loc[most['Year'].idxmin()]

ID                                         89187
Name                                 Takashi Ono
Sex                                            M
Age                                           20
Height                                       160
Weight                                        58
Team                                       Japan
NOC                                          JPN
Games                                1952 Summer
Year                                        1952
Season                                    Summer
City                                    Helsinki
Sport                                 Gymnastics
Event     Gymnastics Men's Individual All-Around
Medal                                        NaN
Name: 177408, dtype: object

The first year Takashi Ono participated in the Olympics was 1952.

Takashi Ono from Japan competed from 1952 to 1964.

### <font color="magenta"> Q4 (7 points): Which sport has the lowest median athlete age? Is there a tie?

In [143]:
# makes copy of dataframe sorting by age and sport
o2 = olympics[['Age', 'Sport']].copy()
o2.head()

    Age          Sport
0  24.0     Basketball
1  23.0           Judo
2  24.0       Football
3  34.0     Tug-Of-War
4  21.0  Speed Skating

In [150]:
# finds the median age for each sport and lists them in ascending order
o2.groupby('Sport').median().sort_values(by='Age', ascending = True).head()

                        Age
Sport
Rhythmic Gymnastics    18.0
Swimming               20.0
Synchronized Swimming  22.0
Figure Skating         22.0
Diving                 22.0

Rhythmic gymnastic has the lowest median age of 18.0. There is no tie.

### <font color="magenta"> Q5 (8 points): In which year did Canada win the most medals?

In [117]:
# filters only data with Canada
o3 = olympics[olympics.Team=='Canada']
o3.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
269,140,"William ""Bill"" Abbott Jr.",M,42.0,172.0,80.0,Canada,CAN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
270,140,"William ""Bill"" Abbott Jr.",M,46.0,172.0,80.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Mixed Three Person Keelboat,NaN
279,146,Jeremy Abbott,M,19.0,179.0,71.0,Canada,CAN,1976 Summer,1976,Summer,Montreal,Canoeing,"Canoeing Men's Canadian Doubles, 1,000 metres",NaN
280,147,Joanne Abbott,F,41.0,160.0,57.0,Canada,CAN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Mixed Three Person Keelboat,NaN
281,148,"Kathryn ""Katie"" Abbott",F,21.0,164.0,63.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Women's Three Person Keelboat,NaN

In [160]:
# sorts by data by year and medal
new_o3 = o3[['Year', 'Medal']].sort_values(by='Year', ascending=True).copy()
new_o3.head()

        Year   Medal
83481   1900     NaN
178304  1900  Bronze
178306  1900     NaN
83480   1900     NaN
83497   1900     NaN

In [159]:
# finds the year with the most medal counts by sorting by descending order
new_o3.groupby('Year').count().sort_values(by='Medal', ascending=False).head(1)

      Medal
Year
1984     91

Canada won the most medals in 1981. Canada won 91 medals.

### <font color="magenta"> Q6 (11 points): In which sports in the 2014 Winter Olympics did female medalists win more medal points than male medalists?

In [233]:
o6 = olympics.copy()
# filters data in only the 2014 olympics
winter = o6[o6.Year==2014]
# sets and counts point values for medals
medal = winter[(winter.Medal=='Gold') |(winter.Medal=='Silver') | (winter.Medal=='Bronze')]
for i in medal['Medal']:
    if i == 'Gold':
        medal['Points'] = 3
    elif i == 'Silver':
        medal['Points'] = 2
    else:
        i == 'Bronze'
        medal['Points'] = 1

C:\Users\jodiy\Anaconda3.1\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\jodiy\Anaconda3.1\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jodiy\Anaconda3.1\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [234]:
# separates data by sex
male = medal[medal.Sex=='M']
female = medal[medal.Sex=='F']

In [227]:
# finds points for male medalists for each sport
male.groupby('Sport').Points.sum()

Sport
Alpine Skiing                 48
Biathlon                      90
Bobsleigh                     54
Cross Country Skiing          90
Curling                       36
Figure Skating                69
Freestyle Skiing              45
Ice Hockey                   213
Luge                          54
Nordic Combined               54
Short Track Speed Skating     63
Skeleton                       9
Ski Jumping                   54
Snowboarding                  45
Speed Skating                 72
Name: Points, dtype: int64

In [235]:
# finds points for female medalists for each sport
female.groupby('Sport').Points.sum()

Sport
Alpine Skiing                 45
Biathlon                      90
Bobsleigh                     18
Cross Country Skiing          90
Curling                       36
Figure Skating                66
Freestyle Skiing              45
Ice Hockey                   177
Luge                          18
Short Track Speed Skating     66
Skeleton                       9
Ski Jumping                    9
Snowboarding                  45
Speed Skating                 81
Name: Points, dtype: int64

In the 2014 winter olympics, female medalists won more points than male medalists in short track speed skating (66 vs 63) and in speed skating (81 vs 72).

### QBonus 5 pt: For each year in which games were held, what proportion of the host country medalists were women? 
You will need to combine multiple datasets to complete the analysis.
<p>Suggested data: 
<p>- https://en.wikipedia.org/wiki/List_of_Olympic_Games_host_cities (note: we suggest you use pd.read_html)

In [ ]:
# put your code here

(Use this space to explain your answers)

## Please submit your completed notebook in .IPYNB and .HTML formats via Canvas